<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'C:\Users\Yash\PycharmProjects\rs3\static\personal\showResult.css'%}" type="text/css" />
    <link rel="stylesheet" href="{% static 'C:\Users\Yash\PycharmProjects\rs3\static\personal\mystyle.css'%}" type="text/css" />

    <link rel="shortcut icon" href="{%  static 'C:\Users\Yash\PycharmProjects\rs3\static\personal\fevicon.png' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-custom" role="navigation"  id="new-id-nav">
        <ul class="nav navbar-center" id="idk1">
            <li id="main_title" ><a onmouseover="recoFun()" id="reco" href="{% url 'index' %}">Recommendation System</a></li>
            {% if username == 'nope'%}

                <li id="idk3music" style="margin-left: 700px; box-shadow: #286090; border: solid 1px #1874cd; padding-top: 8px;border-radius: 6px; padding-left: 20px; padding-right: 20px; cursor: pointer; margin-top: 20px" onclick="clickOnSignUp()">SignUp</li>
                <li id="idk2music" style="border: solid 1px #1874cd; padding-top: 8px; padding-bottom: 8px; border-radius: 6px; padding-left: 20px; padding-right: 20px; margin-left: 20px; cursor: pointer; margin-top: 20px" onclick="clickOnLogin()">Login</li>

            {% else %}
                <li id="userNameidk" style="border: 1px solid #1874cd; margin-left: 700px;">
                    <span id="username">{{ username }}</span>
                    <div id="logout" style="display: none">
                        <a href="{% url 'logout' %}">logout</a>
                    </div>
                </li>
            {% endif %}
            <div style="clear: both"></div>
        </ul>

    </nav>

    <hr>

<div class="container-fluid" id="signup_id_div" style="width: 600px">
    <br>
    <button onclick="closeSignup()" id="close_button"><i class="fa fa-times" aria-hidden="true"></i></button>

    <form method="post" onsubmit="return myFunction()" action="{% url 'authentication' %}">{% csrf_token %}

        <h4 for="fname1" class="user_name">User Name: </h4>
        <input autofocus id="input_validation1" size="10" required class="input_signup_name_id" type="text" placeholder="Enter User Name" name="fname1" pattern=".{8,15}"   required title="8 to 15 characters" ><span id="as" title="required">*</span>
        <h4 for="fname2" class="user_name">Email ID: </h4>
        <input required id="input_validation2" autocomplete="on" size="40" class="input_signup_name_id" type="email" placeholder="Enter Email Id" name="fname2"><span id="as" title="required">*</span>
        <h4 for="password" class="user_name">Password: </h4>

        <input placeholder="Enter Password" class="input_signup_name_id" type="password" name="password" id="input_validation3" data-rule-email="true"  pattern=".{8,15}" required title="8 to 15 length of password"><span id="as" title="required">*</span>
        <h4 for="email" class="user_name">Confirm Password: </h4>

        <input placeholder="Enter Password Again" class="input_signup_name_id" type="password" name="email" id="input_validation4" data-rule-equalTo="#input_validation3" pattern=".{8,15}" required title="8 to 15 length of password"><span id="as" title="required">*</span>
        <center><input id="input_validation5" class="button_submit_Signup_id" type="submit" value="signup"></center>

    </form>
</div>

<div class="container-fluid" id="login_id_div" style="width: 500px">
    <br>
    <button onclick="closeLogin()" id="close_button_login"><i class="fa fa-times" aria-hidden="true"></i></button>
    <form method="post" onsubmit="return myFunction()" action="{% url 'login' %}">{% csrf_token %}
        <h4 for="fname5" class="user_name">User Name: </h4>
        <input  id="input_validation6" class="input_login_name_id" type="text" placeholder="Enter User Name" name="fname5" required title=""><span id="as" title="required">*</span>
        <h4 for="fname6" class="user_name">Password: </h4>
        <input id="input_validation7" class="input_login_name_id" type="password" placeholder="Enter Password" name="fname6" required title=""><span id="as" title="required">*</span>
        <center><input id="input_validation15" class="button_submit_Signup_id" type="submit" value="login"></center>

    </form>
</div>

    <center><div class="row custombydhruv">
        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a0 }}</h4>
                <h5 style="color: #888888">{{ med.b0 }}</h5>
                <img src="{{ med.c0 }}" />
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a1 }}</h4>
                <h5 style="color: #888888">{{ med.b1 }}</h5>
                <img src="{{ med.c1 }}" />
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a2 }}</h4>
                <h5 style="color: #888888">{{ med.b3 }}</h5>
                <img src="{{ med.c3 }}" />
                </div>
            {% endfor %}
        </div>
    </div></center>

    <center><div class="row custombydhruv">
        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a4 }}</h4>
                <h5 style="color: #888888">{{ med.b4 }}</h5>
                <img src="{{ med.c4 }}" />
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a5 }}</h4>
                <h5 style="color: #888888">{{ med.b5 }}</h5>
                <img src="{{ med.c5 }}" />
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a6 }}</h4>
                <h5 style="color: #888888">{{ med.b6 }}</h5>
                <img src="{{ med.c6 }}" />
                </div>
            {% endfor %}
        </div>
    </div></center>

    <center><div class="row custombydhruv">
        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a7 }}</h4>
                <h5 style="color: #888888">{{ med.b7 }}</h5>
                <img src="{{ med.c7 }}" />
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a8 }}</h4>
                <h5 style="color: #888888">{{ med.b8 }}</h5>
                <img src="{{ med.c8 }}" />
                </div>
            {% endfor %}
            </div>
        <div class="col-xs-4 custombydhruv2">
            {% for med in a %}
                <div>
                <h4>{{ med.a9 }}</h4>
                <h5 style="color: #888888">{{ med.b9 }}</h5>
                <img src="{{ med.c9 }}" />
                </div>
            {% endfor %}
        </div>
    </div></center>

<div class="container-fluid footer">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <p>Recommendation System</p>
                <p>Made with <i id="heart" class="far fa-heart"></i> by,<br> <a id="dhruv" href = "https://dhruvthakkar.000webhostapp.com/"> Dhruv Thakkar </a>| Priyank Jain | Hardik Bhokare | Keval Shah  </p>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">

    function logout() {
        $("#logout").css("display", "block");
    }

    function logoutLeave() {
        $("#logout").css("display", "none");
    }

    $("#userNameidk").mouseover(logout);
    $("#userNameidk").mouseout(logoutLeave);


</script>
</body>
</html>